@{
    ViewData["Title"] = "register Page";
}

<h1>Register</h1>
<hr/>

 <div class="text-center">
    <form action="/home/postregister">
    <label for="firstname" >First Name :</label><br>
    <input type="text" id="fnm" name="fnm" value=""><br>
    
    <label for="password" >last Name :</label><br>
    <input type="text" id="lnm" name ="lnm" value=""><br><br>

    <label for="password" >Contact number :</label><br>
    <input type="text" id="cnm" name ="cnm" value=""><br><br>

    <label for="password" >Email :</label><br>
    <input type="text" id="email" name ="email" value=""><br><br>

    <label for="password" >password :</label><br>
    <input type="text" id="pswd" name ="pswd" value=""><br><br>
  
   <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
